# Python virtual environment
venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Temporary audio files
*.wav
*.ogg
*.opus
*.txt
*.png
*.json

# Ensure requirements.txt is never ignored
!requirements.txt


# IDE configurations to exclude
.vscode/launch.json
.vscode/tasks.json
.vscode/workspaceState.json

# Keep the settings profile tracked
!.vscode/settings.json

# macOS system files
.DS_Store
