# Python virtual environment
venv/
__pycache__/
*.pyc

# Temporary audio files
*.wav
*.txt
*.png
*.json

# Ensure requirements.txt is never ignored
!requirements.txt

# IDE Settings
.vscode/

# macOS system files
.DS_Store
